{% extends "base.html" %}

{% block content %}
<h1>{{my_title}}</h1>
<br>
<form role="form" method="POST">
  <div class="form-group">
    <label for="present_value">Present Value</label>
    <input type="text" class="form-control" id="present_value" name="present_value" value="{{present_value}}">
  </div>
  <div class="form-group">
    <label for="present_value">Interest Rate</label>
    <input type="text" class="form-control" id="interest_rate" name="interest_rate" value="{{interest_rate}}">
  </div>
  <div class="form-group">
    <label for="present_value">Time</label>
    <input type="text" class="form-control" id="time" name="time" value="{{time}}">
  </div>
  <div class="form-group">
    <label for="present_value">Future Value</label>
    <input type="text" class="form-control" id="future_value" name="future_value" value="{{future_value}}">
  </div>
  <button type="submit" class="btn btn-default">Calculate</button>
</form>
{% endblock %}

{% block footer %}
{{super()}}
<h4>Current date/time: {{ current_time | datetimefilter }}</h4>
{% endblock %}